[submodule "advanced_example"]
	path = advanced_example
	url = https://github.com/fairagro/m4.4_sciwin_client_demo
	branch = complete_run
[submodule "getting_started"]
	path = getting_started
	url = https://github.com/fairagro/m4.4_sciwin_client_demo_basic
	branch = complete_run
[submodule "corn_prediction"]
	path = corn_prediction
	url = https://github.com/fairagro/m4.4_demo_corn_prediction
	branch = run
[submodule "automated_metrics"]
	path = automated_metrics
	url = https://github.com/fairagro/m4.4_metrics
